<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
</head>
<body id="b2" style="background-image: url({{ride.adv_img}}); background-size: cover;">
    <header>
        <a href ="{% url 'index' %}"><img id="logo" src="https://i.ibb.co/XkJnhjk/mou.png" alt="full stack" /> </a>
        <nav>
            <a class="Nav-link" href="">Home</a>
            <a class="Nav-link" href="">Login</a>
            <a class="Nav-link" href="">Registration</a>

        </nav>
    </header>
    <section id="Eventsec">
        <div class="bung" style="background-color: #00000048;">
            
            <h2>{{ride.ride_title}}</h2>
            <p style="color: aliceblue;">Apply for this</p>
            <p style="color: aliceblue;" class="event-desc">{{ride.adv_desc}}</p>
            <form action="{% url 'details' ride.adv_id %}" method="POST" id="f1" style="background-color: #0000007a;">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="apply">

            </form>


            
            
        </div>
    <footer class="">
        
        <p>©2023 Event Registration System</p>


    </footer>

    
</body>
</html>